SHT_OV13855=/odm/etc/camera/multidenoise/ov13855/
SHT_IMX258=/odm/etc/camera/multidenoise/imx258/
SHT_HI846=/odm/etc/camera/multidenoise/hi846/
SHT_OV8856SHT_OFILM=/odm/etc/camera/multidenoise/ov8856/
CMR_OV13855=/odm/etc/camera/multidenoise/ov13855/
CMR_IMX258=/odm/etc/camera/multidenoise/imx258/
CMR_HI846=/odm/etc/camera/multidenoise/hi846/
CMR_OV8856SHT_OFILM=/odm/etc/camera/multidenoise/ov8856/
