SHT_OV13855=/odm/etc/camera/smartae/ov13855/
SHT_IMX258=/odm/etc/camera/smartae/imx258/
SHT_HI846=/odm/etc/camera/smartae/hi846/
SHT_OV8856SHT_OFILM=/odm/etc/camera/smartae/ov8856/
CMR_OV13855=/odm/etc/camera/smartae/ov13855/
CMR_IMX258=/odm/etc/camera/smartae/imx258/
CMR_HI846=/odm/etc/camera/smartae/hi846/
CMR_OV8856SHT_OFILM=/odm/etc/camera/smartae/ov8856/
